.main-text {
    overflow: hidden;
    font-family: 'NTR', serif;
}

.my-meter {
    height: 8px;
    position: relative;
    background: transparent;
    overflow: hidden;
    border-radius: 10px;
}

.my-meter span {
    display: block;
    height: 100%;
}

.my-progress {
    border-radius: 10px;
    background-color: #39C0ED;
    animation: progressBar 5s ease-in-out;
    animation-fill-mode:both;
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

.main-zoom-out {
    animation: mainZoomOut 5s ease-in-out;
}

@keyframes mainZoomOut {
    0% {
        transform: scale(0.1);
        transform-origin: top left;
    }
    20% { transform: scale(1.0) }
    90% { opacity: 1 }
    100% { opacity: 0; }
}

.main-fade-in {
    animation: mainFadeIn 5s ease-in-out;
}

@keyframes mainFadeIn {
    0% { opacity: 0 }
    10% { opacity: 1 }
    90% { opacity: 1 }
    100% { opacity: 0 }
}


