.main-text {
    overflow: hidden;
    font-family: 'NTR', serif;
}

.my-meter {
    height: 8px;
    position: relative;
    background: transparent;
    overflow: hidden;
}

.my-meter span {
    display: block;
    height: 100%;
}

.my-progress {
    border-radius: 1px;
    background-color: #39C0ED;
    animation: progressBar 5s ease-in-out;
    animation-fill-mode:both;
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

.my-text-main {
    animation: myTextMain 1s ease-in-out;
}

.my-text-secondary {
    animation: myTextMain 1s ease-in-out;
    animation-delay: 0.5s;
}


@keyframes myTextMain {
    0% { font-size: 10%; }
    100% { font-size: 100%; }
}



