ul.list-with-line li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2em;
}

ul.list-with-line li:after {
    /* bullets */
    content: url('20px-BLueDisc.svg.png');
    position: absolute;
    left: -26px; /*adjust manually*/
    top: 0;
}

ul.list-with-line li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-left: 1px solid white;
    height: 100%;
    width: 1px;
}

ul.list-with-line li:first-child:before {
    /* first li's line */
    top: 8px; /* moves the line down so that it disappears under the bullet*/
}

ul.list-with-line li:last-child:before {
    /* last li's line */
    height: 6px; /* shorten the line so it goes only up to the bullet*/
}